@use "../../assets/scss/mixins" as *;
@use "../../assets/scss/variables" as *;
.myorder-item {
  //   background-color: green;
  height: 60px;
  @include justify-align-direction(space-between, center, "");
  &__name,
  &__amount,
  &__price {
    font-family: $primary-font-family;
  }
  &__content-wrapper {
    // background-color: red;
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
  }
  &__btn {
    color: white;
    background-color: $third-background-color;
    &:hover {
      background-color: rgba(53, 49, 49, 0.311);
    }

    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    border: 1px solid black;
    @include justify-align-direction(center, center, "");
  }
  &__trash {
    cursor: pointer;
    display: flex;
  }
}
