//background
$primary-background-color: rgba(96, 88, 88, 1);
$secondary-background-color: rgba(238, 238, 238, 1);
//fonts
$primary-font-color: rgba(53, 49, 49, 1);
$secondary-font-color: rgba(244, 243, 241, 0.94);

//font-family
$primary-font-family: "Times New Roman", Times, serif;
