@use "../../assets/scss/variables" as *;

.dippSaucesBtn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  &:hover {
    cursor: pointer;
    background-color: $third-background-color;
  }
  padding: 5px 17px;
  background-color: rgba(241, 240, 236, 0.12);
  border-radius: 4px;
  border: none;
  color: $secondary-font-color;
  font-family: $primary-font-family;
}
