@use "../../assets/scss/variables" as *;

.menu-skeleton {
  &__innercontainer {
    background-color: $primary-background-color;
    height: 600px;
  }
  &__header {
    color: $secondary-font-color;
    font-family: $primary-font-family;
    font-weight: 700;

    font-size: 32px;
    padding-left: 15px;
    padding-top: 15px;
  }
}
