@use "../../assets/scss/variables" as *;
@use "../../assets/scss/mixins" as *;

.menu-item {
  background-color: $primary-background-color;
  //   height: 40px;
  // background-color: red;
  @include justify-align-direction(space-between, center, "");
  padding: 15px;

  // &:hover {
  //   cursor: pointer;
  //   background-color: rgba(241, 240, 236, 0.12);
  // }

  &__name-price-wrapper {
    @include justify-align-direction("", center, "");
    color: $secondary-font-color;
  }
  &__item-name {
    font-family: $primary-font-family;
    font-weight: 700;
    font-size: 22px;
    // color: $secondary-font-color;
  }
  &__item-ingredienses {
    color: $secondary-font-color;
    font-family: $primary-font-family;
    font-weight: 500;
    font-size: 14px;
  }
  &__btn {
    cursor: pointer;
    background-color: rgba(241, 240, 236, 0.12);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    @include justify-align-direction(center, center, "");
    &:hover {
      background-color: $third-background-color;
    }
  }
  &__icon {
    color: $secondary-font-color;
  }
}
