@use "../../assets/scss/variables" as *;
@use "../../assets/scss/mixins" as *;
.navbarModalNavigation {
  background-color: $third-background-color;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  position: fixed;

  &__navbarModalNavigation__ul {
    background-color: white;
  }
  &__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  &__list-item {
    margin: 10px 0px;
    @include justify-align-direction(center, center, "");
    height: 100px;
  }
  &__link {
    color: $secondary-font-color;
    font-size: 40px;
  }
}
