@use "../assets/scss/variables" as *;
@use "../assets/scss/mixins" as *;

.reciept-page {
  background-color: $primary-background-color;
  min-height: 100vh;
  padding: 20px;
  &__inner-container {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    height: 100%;
  }
  &__btn-wrapper {
    margin-top: 80px;
  }
}
