@use "../../assets/scss/variables" as *;
@use "../../assets/scss/mixins" as *;

.reciept-container {
  //   margin-left: auto;
  //   margin-right: auto;
  //   max-width: 350px;
  margin-top: 55px;
  background-color: $secondary-background-color;

  border-radius: 4px;
  &__top-wrapper {
    // background-color: palegreen;
    // height: 30%;
  }
  &__middle-wrapper {
    // background-color: aqua;
    // height: 40%;
  }
  &__below-wrapper {
    // background-color: bisque;
    // height: 30%;
    // display: flex;
    // flex-direction: column;
    // justify-content: end;
  }
  &__icon-wrapper {
    padding-top: 40px;
    @include justify-align-direction(center, center, "");
    // background-color: pink;
  }
  &__kvitto {
    margin-top: 7px;
    font-family: $primary-font-family;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
  }
  &__order-nr {
    margin-top: 5px;
    font-family: $primary-font-family;
    font-weight: 700;
    font-size: 12px;
    color: $third-font-color;
    text-align: center;
  }

  &__total-amount-info {
    background-color: $fourth-background-color;
    height: 68px;
    @include justify-align-direction(space-between, center, "");
    padding: 10px;
  }
  &__reciept-container__total {
    font-family: $primary-font-family;
    font-weight: 700;
    font-size: 16px;
  }
  &__moms {
    font-family: $primary-font-family;
    font-weight: 400;
    font-size: 12px;
  }
  &__pris {
    font-family: $primary-font-family;
    font-weight: 700;
    font-size: 24px;
  }
}
